# Smart Phone Price Prediction and Discount Analysis

In [1]:
# Importing the necessary libraries 
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 

%matplotlib inline

In [2]:
# Loading the data 
jumia_mobile_phones = pd.read_csv("Data/jumia_mobile_phones.csv")
phone_popularity = pd.read_csv("Data/jumia_phone_catalog_popularity.csv")
jumia_phones = pd.read_csv("Data/jumia_phones.csv")

## Data Understanding

In [4]:
# Jumia mobile phones data frame
jumia_mobile_phones.head()

,Name,Price,Old Price,Discount,Rating
0,"XIAOMI Redmi A3, 6.71"", 3GB RAM + 64GB (Dual S...","KSh 8,999","KSh 11,000",18%,4.1 out of 5
1,"Tecno Spark 20, Android 13, 6.6"", 128GB + 4GB ...","KSh 12,925","KSh 15,000",14%,4.4 out of 5
2,"Itel S23 6.6"", 128GB + 4GB RAM, 50MP Camera, (...","KSh 8,940","KSh 10,000",11%,4.3 out of 5
3,"Itel S23 6.6"", 128GB + 4GB RAM, 50MP Camera, (...","KSh 8,940","KSh 10,000",11%,4.1 out of 5
4,"Samsung Galaxy A05, 6.7'' 4GB RAM + 128GB ROM ...","KSh 12,930","KSh 14,000",8%,4.6 out of 5

In [5]:
jumia_mobile_phones.tail()

,Name,Price,Old Price,Discount,Rating
11995,"Tecno POP 8, 6.6"", 64GB +3GB RAM, 13MP, 4G (Du...","KSh 9,999","KSh 12,000",17%,5 out of 5
11996,"Samsung Galaxy A05S, 6.7"", 90HZ, 4GB RAM + 12...","KSh 14,850","KSh 22,999",35%,4.4 out of 5
11997,"Tecno POP 8, 6.6"", 64GB ROM +3GB RAM, 13MP, 4G...","KSh 9,999","KSh 12,000",17%,NaN
11998,"Itel S23+ 6.78"", 128GB + 4GB RAM, 50MP Camera,...","KSh 13,999","KSh 23,000",39%,4.8 out of 5
11999,"Tecno SPARK 20,6.6 HD+,90GHZ REFRESH RATE,50MP...","KSh 15,200","KSh 20,000",24%,4 out of 5

In [7]:
jumia_mobile_phones.isna().sum()

Name           0
Price          0
Old Price      0
Discount       0
Rating       300
dtype: int64

In [8]:
jumia_mobile_phones.describe()

,Name,Price,Old Price,Discount,Rating
count,12000,12000,12000,12000,11700
unique,40,31,21,26,11
top,"XIAOMI Redmi A3, 6.71"", 3GB RAM + 64GB (Dual S...","KSh 8,940","KSh 10,000",11%,4.1 out of 5
freq,300,900,1800,900,2700

In [9]:
jumia_mobile_phones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       12000 non-null  object
 1   Price      12000 non-null  object
 2   Old Price  12000 non-null  object
 3   Discount   12000 non-null  object
 4   Rating     11700 non-null  object
dtypes: object(5)
memory usage: 468.9+ KB